{% extends "base.html" %}


{% block page_name %}키워드 인코딩{% endblock page_name %}



{% block content %}
    {% if user.is_superuser %}
    <div class="container w-10/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
    {% for enc in enc_keys %}
        <div class="mx-auto item-left py-3">
            <p>{{ enc.key }}</p>
        <p>{{ enc.key_url }}</p>
        </div>
    {% endfor %}



    <button class="btn btn-link bg-red-500 items-center w-3/5 text-white  " onclick="window.open('http://www.monstercash.co.kr/_adm/fpurchase.form.siso?CODE={{ slots.app_code }} ')">APP 바로가기</button>

     </div>
        {% endif %}
{% endblock content %}

