

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/72b499a714.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| Plss</title>
  </head>
  <body class="text-black mt-24 font-light ">

    <header class="bg-gray-800 container max-w-full inset-0 flex items-center px-6 h-20 border-b border-blue-400 fixed justify-around ">
      <div class="flex items-center w-1/7">
        <a href="{% url "core:home" %}" class="mr-6 text-white">
            <!-- <img class="w-8" src="{% static 'img/logo.png' %}" /> -->
            <i class="fa-solid fa-audio-description text-5xl  ml-10"></i>
        </a>
      </div>
      {% include "partials/nav.html" %}
    </header>

    {% block content %}{% endblock %}
    {% include "partials/footer.html" %}
  </body>
</html>